<?xml version="1.0"?>
<config>
    <modules>
        <Divante_CustomerLog>
            <version>1.0.0</version>
        </Divante_CustomerLog>
    </modules>
    <global>
        <models>
            <divante_customerlog>
                <class>Divante_CustomerLog_Model</class>
                <resourceModel>divante_customerlog_resource</resourceModel>
            </divante_customerlog>
            <divante_customerlog_resource>
                <class>Divante_CustomerLog_Model_Resource</class>
                <entities>
                    <log>
                        <table>customer_log</table>
                    </log>
                    <log_values>
                        <table>customer_log_values</table>
                    </log_values>
                </entities>
            </divante_customerlog_resource>
        </models>
        <blocks>
            <divante_customerlog>
                <class>Divante_CustomerLog_Block</class>
            </divante_customerlog>
        </blocks>
        <helpers>
            <divante_customerlog>
                <class>Divante_CustomerLog_Helper</class>
            </divante_customerlog>
        </helpers>
        <resources>
            <divante_customerlog_setup>
                <setup>
                    <module>Divante_CustomerLog</module>
                </setup>
            </divante_customerlog_setup>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <divante_customerlog>
                        <class>divante_customerlog/observer</class>
                        <method>customerSaveAfter</method>
                    </divante_customerlog>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <divante_customerlog>
                        <class>divante_customerlog/observer</class>
                        <method>customerAddressSaveAfter</method>
                    </divante_customerlog>
                </observers>
            </customer_address_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Divante_CustomerLog before="Mage_Adminhtml">Divante_CustomerLog_Adminhtml</Divante_CustomerLog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <divante_customerlog>
                    <file>divante_customerlog.xml</file>
                </divante_customerlog>
            </updates>
        </layout>
    </adminhtml>
</config>